<!-- Question text -->
<div>
    <div style="font-size: 16px;font-style: normal; font-weight: bold" class="ng-scope" 
    [class.ncap-requested]="question.show_validation && question.validation_result===ValidationResult.requested" 
    [class.ncap-required]="question.show_validation && question.validation_result===ValidationResult.required" >
        <span class="ng-scope">
            <span *ngIf="NavigationSingleton.instanceOf().diagMode">{{question.page_id}}.{{question.sre_sort_order}} - </span>
        </span>            
        <span [innerHTML]='question.question_text'></span>
        <tooltip *ngIf="question.toolTipId>0" [toolTipId]="question.toolTipId"></tooltip>
    </div>
</div>

<!-- Radio buttons -->
<div class="formly-field ng-scope ng-isolate-scope leftPadding1 formly-field-radion">

    <div class="form-group ng-scope">
        <div class="radio-group radio" *ngFor="#item of domainOptions; #idx = index" (click)='click(question.tracking_key, item.stored_value)'>
            <input type="radio" style="outline:none" name="{{question.page_id}}.{{question.sre_sort_order}}" value="{{item.stored_value}}" [checked]='previouslySelectedStoredValue == item.stored_value'> {{item.displayed_value}} 
            <tooltip *ngIf="item.toolTipId>0" [toolTipId]="item.toolTipId"></tooltip> 
        </div>
    </div>

</div>
