<div>
    <div question="ethinicity" style="font-size: 16px;font-style: normal; font-weight: bold" class="ng-scope">
        <span class="ng-scope">{{question.page_id}}.{{question.sort_order}} - {{question.question_text}}</span>
        
    </div>
</div>

<input type="date" [ngModel]="previouslySelectedStoredValue" (ngModelChange)="click(question.tracking_key, $event)"/>

 <!--(change)='click(question.tracking_key, $event)'-->
<!--(ngModelChange)="onChange($event)-->

<BR>
<BR>

<!--<div class="formly-field ng-scope ng-isolate-scope leftPadding1 formly-field-radion">

    <div class="form-group ng-scope" >
        <div class="radio-group radio" *ngFor="#item of options; #idx = index" >
            <input type="radio" name="{{question.sort_order}}" value="{{item.ID}}" > {{item.displayed_value}}
        </div>
    </div>
    
</div>-->
