<td class='mat_q'>Other 
    <input type="text" width="10" placeholder="(Please indicate)">     
    
</td>
<td></td>
<td></td>
<td></td>
<td></td>

<!--
<input class="form-control ng-valid ng-dirty ng-valid-parse ng-empty ng-touched" 
type="text" width="10" placeholder="(Please indicate)" 

ctl-changed="q21-p" ncap-model="q21-p" ng-model="model[options.data.other[0].key]" 
id="formly_1_matrix_q21_4" name="formly_1_matrix_q21_4" formly-custom-validation="">


 class="mat_c ng-scope" *ngFor="#item of options; #idx = index">
    <input type="text" 
    name="{{matrixRadioButtons.question_id}}{{matrixRadioButtons.sort_order}}"  
    value="{{item.ID}}" 
    (click)="click(matrixRadioButtons.tracking_id, item.stored_value)" 
    [checked]="previouslySelectedStoredValue === item.stored_value" >-->