

<span [innerHTML]='htmlToRender'></span>


<!--<div class="tooltip1 ng-scope ncapTooltipText"><i class="fa fa-info-circle"></i>
  <span class="tooltiptext1">{{tooltipText}}</span>
</div>-->

<!--<tooltip id="18" class="ng-scope">
  <a tooltip-append-to-body="true" uib-tooltip="The Census Bureau provides two categories for ethnicity:  &quot;Hispanic or Latino&quot; and &quot;Not Hispanic or Latino&quot;.  The Census Bureau defines a Hispanic or Latino person as someone of Cuban, Mexican, Puerto Rican, Cuban, South or Central American, or other Spanish culture or origin, regardless of race."
    tooltip-placement="bottom" tooltip-class="ncapTooltip" class="ncapTooltipText">
    <i class="fa fa-info-circle"></i></a>
</tooltip>-->