<!--switch question control-->
<!--{{question.answer_type}}-->

<div [ngSwitch]=AnswerCategory[question.sre_anca_id]>
  <span *ngSwitchWhen="'Home'">                               <home              [question]="question"></home></span>
  <span *ngSwitchWhen="'Consent'">                            <consent              [question]="question"></consent></span>
  <span *ngSwitchWhen="'RadioButtons'">                       <radio-buttons        [question]="question"></radio-buttons></span>
  <span *ngSwitchWhen="'Date_MonthDayYear'">                  <date-month-day-year  [question]="question"></date-month-day-year></span>
  <span *ngSwitchWhen="'MatrixRadioButtons_TextboxLastRow'">  <matrix               [question]="question"></matrix></span>
  <span *ngSwitchWhen="'MatrixRadioButtons'">                 <matrix               [question]="question"></matrix></span>

  <span *ngSwitchWhen="Section_Title">WIP for Section_Title</span>
  <span *ngSwitchWhen="PreQ_Intro">WIP for PreQ_Intro</span>

  <span *ngSwitchDefault>
    {{question.page_id}}.{{question.question_id}}. {{FormatCategory[question.sre_foca_id]}}, {{AnswerCategory[question.sre_anca_id]}} - {{question.txt_parent_lang1}}
    </span>
</div>


    <!--**Unsupported answerCategory: {{question.answerCategory}} **-->
