<!--{{question.page_id}}.{{question.question_id}}. {{question.bypass_property}} {{question.validation_type}} {{FormatCategory[question.sre_foca_id]}}, {{AnswerCategory[question.sre_anca_id]}} - {{question.question_text}}-->

<div *ngIf="AnswerCategory[question.sre_anca_id] === 'No_Answer'" [ngSwitch]=FormatCategory[question.sre_foca_id]>
  <span *ngSwitchWhen="'Section_Title'">                      <section-title              [question]="question"></section-title></span>
  <span *ngSwitchWhen="'PreQ_Intro'">                         <pre-question-intro         [question]="question"></pre-question-intro></span>

  <span *ngSwitchDefault>
    **Unsupported** {{question.page_id}}.{{question.question_id}}. {{question.bypass_property}} {{FormatCategory[question.sre_foca_id]}}, {{AnswerCategory[question.sre_anca_id]}} - {{question.question_text}}
    </span>
</div>

<div *ngIf="AnswerCategory[question.sre_anca_id] !== 'No_Answer'" [ngSwitch]=AnswerCategory[question.sre_anca_id]>
  <span *ngSwitchWhen="'Home'">                               <home             [question]="question"></home></span>
  <span *ngSwitchWhen="'Consent'">                            <consent          [question]="question"></consent></span>
  <span *ngSwitchWhen="'Checkboxes'">                         <checkboxes       [question]="question"></checkboxes></span>
  <span *ngSwitchWhen="'Checkboxes_TextboxLastEntry'">        <checkboxes       [question]="question"></checkboxes></span>
  <span *ngSwitchWhen="'DropDown'">                           <dropdown         [question]="question"></dropdown></span>
  <span *ngSwitchWhen="'Textbox'">                            <textbox          [question]="question"></textbox></span>
  <span *ngSwitchWhen="'RadioButtons'">                       <radio-buttons    [question]="question"></radio-buttons></span>
  <span *ngSwitchWhen="'Date_MonthDayYear'">                  <date             [question]="question"></date></span>
  <span *ngSwitchWhen="'MatrixRadioButtons'">                 <matrix           [question]="question"></matrix></span>
  <span *ngSwitchWhen="'MatrixRadioButtons_TextboxLastRow'">  <matrix           [question]="question"></matrix></span>
  <span *ngSwitchWhen="'MatrixRadioButtons_DropDownLastCol'"> <matrix           [question]="question"></matrix></span>
  <span *ngSwitchWhen="'ResidentialBlock'">                   <residental-block [question]="question"></residental-block></span>

  <span *ngSwitchWhen="'Skip'"></span>

  <span *ngSwitchDefault>
    **Unsupported** {{question.page_id}}.{{question.question_id}}. {{question.bypass_property}} {{FormatCategory[question.sre_foca_id]}}, {{AnswerCategory[question.sre_anca_id]}} - {{question.question_text}}
    </span>
</div>
