<!-- Question text -->
<div>
    <div style="font-size: 16px;font-style: normal; font-weight: bold" class="ng-scope" [class.ncap-requested]="question.show_validation && question.validation_result===ValidationResult.requested" [class.ncap-required]="question.show_validation && question.validation_result===ValidationResult.required">
        <span class="ng-scope">
            <span *ngIf="_applicationStateService.diagMode">{{question.page_id}}.{{question.sort_order}} - </span> {{question.question_text}}
        </span>
        <tooltip *ngIf="questionToolTipId>0" [toolTipId]="questionToolTipId"></tooltip>
    </div>
</div>

<!-- Checkboxes -->
<div class="ng-scope leftPadding1">

    <div class="form-group ng-input">
        <div class="radio-group radio" *ngFor="#item of domainOptions; #idx = index">
            <span (click)='toggleCheckbox(item.stored_value)'>
                <input type="checkbox" id="{{item.stored_value}}" [checked]='isCheckboxSelected(+item.stored_value)'> {{item.displayed_value}} 
                <tooltip *ngIf="item.toolTipId>0" [toolTipId]="item.toolTipId"></tooltip> 
            </span>
            <!-- Optional Other TextBox -->
            <span *ngIf='item.stored_value == showOtherTextBoxForStoredValue && isCheckboxSelected(showOtherTextBoxForStoredValue)'>
                <input class='form-control' type="text" placeholder='(Please Indicate)' [ngModel]='userInputOther' (ngModelChange)='otherChanged($event)'/>
            </span>

        </div>

    </div>
</div>