{{navigationSingleton.DisplayValidationAtPageLevel}} - {{validationSingleton.validatePage(pageId)}}
<div *ngIf='navigationSingleton.DisplayValidationAtPageLevel' class="container ng-scope validation-messages" [ngSwitch]=validationSingleton.validatePage(pageId)>
  <div *ngSwitchWhen=ValidationResult.required class="ncap-required">
    *Please answer the highlighted question(s) before proceeding to the next page. If you do not wish to answer, you may exit the survey by clicking Exit Survey.
  </div>
  <div *ngSwitchWhen=ValidationResult.requested class="ncap-requested ng-binding ng-hide">
    *The highlighted question(s) have not been answered. Please answer these questions or click Next to go to the next page.
  </div>
</div>