<div *ngIf="subuElement.sre_anca_id !== AnswerCategory.Textbox_in_Matrix" class="divTableCellQuestion mat_q">
    <html-including-tooltips [htmlToRender]='subuElement.text'></html-including-tooltips>
</div>

<!--{{AnswerCategory[subuElement.sre_anca_id]}}-->

<div class="divTableCellCenter mat_c" *ngFor="#item of domainOptions; #idx = index">
    <input type="radio" style="outline:none" 
    name="{{subuElement.sre_uid}}{{subuElement.sre_sort_order}}"  
    value="{{item.stored_value}}" 
    (click)="radioButtonClick(subuElement.tracking_key, item.stored_value)" 
    [checked]="previouslySelectedRadioButton == item.stored_value">
</div>

<div *ngIf="subuElement.sre_anca_id == AnswerCategory.Textbox_in_Matrix" class="divTableCellOther mat_q">{{subuElement.text}}&nbsp;<input class="form-control" type="text" width="10" placeholder="(Please indicate)" [(ngModel)]="textInput" (keyup)="textChanged(subuElement.tracking_key )">
</div>