<div>
    <div question="ethinicity" style="font-size: 16px;font-style: normal; font-weight: bold" class="ng-scope">
        <span *ngIf="NavigationSingleton.instanceOf().diagMode">{{question.page_id}}.{{question.sre_sort_order}} - </span>
        <html-including-tooltips [htmlToRender]='question.question_text'></html-including-tooltips>
    </div>
</div>

anca: {{AnswerCategory[xyzzy]}} {{xyzzy}}
<div class="formly-field ng-scope ng-isolate-scope leftPadding1 formly-field-radion form-group ng-scope">

    <div *ngIf='[1, 10,11,12,13,14,15].indexOf(xyzzy)>-1' class="form-group ng-scope">
        <table>
            <thead style="padding-left: 1em;border-bottom:1pt solid black;">
                <tr>
                    <th></th>
                    <th class='mat_c_th' *ngFor="#curOption of domainOptions">{{curOption.displayed_value}}</th>
                </tr>
            </thead>
            <tr *ngFor="#curMatrixElement of matrixElements #odd=odd" [matrixElement]="curMatrixElement" [question]="question" [class.matrix-odd]="odd" class='{{calculateValidatiodCSS(curMatrixElement)}}' class='border_bottom ng-scope'>
        </table>
    </div>

    <div *ngIf='[1, 10,11,12,13,14,15].indexOf(xyzzy)>-1' class="form-group ng-scope">
        <div class="divTable">
            <div class="divTableHeading mat_c_th">
                <div class="divTableRow">
                    <div class="divTableHead">&nbsp;</div>
                    <div class="divTableHead" *ngFor="#curOption of domainOptions">{{curOption.displayed_value}}</div>
                    <!--class='mat_c_th' -->
                </div>
            </div>
            <div class="divTableBody">
                <matrix-row-div class='{{calculateValidatiodCSS(curMatrixElement)}} divTableRow' *ngFor="#curMatrixElement of matrixElements" 
                [element]="curMatrixElement" [question]="question" [class.matrix-odd]="odd" ></matrix-row-div>
            </div>
        </div>
    </div>


    <!--<div *ngIf="AnswerCategory[question.sre_anca_id] === 'No_Answer'" [ngSwitch]=FormatCategory[question.sre_foca_id]>
  <span *ngSwitchWhen="'Section_Title'">                      <section-title              [question]="question"></section-title></span>
  <span *ngSwitchWhen="'PreQ_Intro'">                         <pre-question-intro         [question]="question"></pre-question-intro></span>

  <span *ngSwitchDefault>
    **Unsupported 1** p{{question.page_id}}.so.{{question.sre_sort_order}} anca_id:{{question.sre_anca_id}}({{AnswerCategory[question.sre_anca_id]}}) foca_id:{{question.sre_foca_id}}({{FormatCategory[question.sre_foca_id]}})
    </span>
</div>-->


    <!--<div class="divTableRow">
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
        <div class="divTableCell">&nbsp;</div>
    </div>-->