<div>
    <div style="font-size: 16px;font-style: normal; font-weight: bold" class="ng-scope {{navigationSingleton.show_validation ? validationSingleton.calculateAggregateValidationCSS(question) : ''}}">
        <span *ngIf="navigationSingleton.diagMode">{{question.page_id}}.{{question.sre_sort_order}} - </span>
        <html-including-tooltips [htmlToRender]='question.question_text'></html-including-tooltips>
    </div>
</div>

<div *ngIf='[1, 10,11,12,13,14,15].indexOf(answerCategory)>-1' class="form-group ng-scope">
    <div class="divTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHeadQuestion">&nbsp;</div>
                <div class="divTableHeadCenter mat_c_th" *ngFor="#curOption of domainOptions">{{curOption.displayed_value}}</div>
            </div>
        </div>
        <div class="divTableBody" *ngFor="#curMatrixElement of matrixElements #odd=odd">

            <matrix-row-div class='divTableRow {{navigationSingleton.show_validation ? validationSingleton.calculateSubuElementValidationCSS(curMatrixElement) : (odd ? "matrix-odd" : "")}} ' [question]="question" [element]="curMatrixElement"></matrix-row-div>

            <!-- Support RadioButtons_in_Matrix_DropDownLastCol -->
            <div *ngIf='curMatrixElement.sre_anca_id === AnswerCategory.RadioButtons_in_Matrix_DropDownLastCol && userInputSingleton.getUserInput(curMatrixElement.tracking_key)?.storedValue==="1"' class='divTableRow'>
                <div class='divTableCellQuestion'>
                    &nbsp;&nbsp;Age First noticed:
                    <select class="form-control" (change)="dropDownChanged(curMatrixElement.tracking_key, $event.target.value)">
                        <option *ngFor="#item of domainOptionsForLastColDropDown" [value]="item.stored_value" [selected]='curMatrixElement.previouslySelectedStoredValue==item.stored_value'>{{item.displayed_value}}</option>
                    </select>
                </div>
                <div class='divTableCellQuestion'>
                </div>
                <div class='divTableCellQuestion'>
                </div>
                <div class='divTableCellQuestion'>
                </div>
                <div class='divTableCellQuestion'>
                </div>
            </div>
        </div>
    </div>
</div>