.divTable {
	display: table;
	width: 100%;
}

.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	display: table-cell;
}

.divTableCellQuestion {
	display: table-cell;
	border-bottom: 1pt solid #ddd;;
}

.divTableCellOther {
	display: table-cell;
}

.divTableCellCenter {
	display: table-cell;
	width: 90px;
	border-bottom: 1pt solid #ddd;;
}

.divTableHead {
	border-bottom: 1px solid black;
	display: table-cell;
}

.divTableHeadQuestion {
	border-bottom: 1px solid black;
	display: table-cell;
}

.divTableHeadCenter {
	border-bottom: 1px solid black;
	display: table-cell;
	width: 90px;
}

.divTableFoot {
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

.matrix-odd {
	background-color: #f9f9f9;
}
