<!-- Question text -->
<div>
    <div style="font-size: 16px;font-style: normal; font-weight: bold" class="ng-scope" [class.ncap-requested]="navigationSingleton.showValidation && question.validation_result===ValidationResult.requested" [class.ncap-required]="navigationSingleton.showValidation && question.validation_result===ValidationResult.required">
        <span *ngIf="navigationSingleton.diagMode">{{question.page_id}}.{{question.sre_sort_order}} - </span>
        <html-including-tooltips [htmlToRender]='question.question_text'></html-including-tooltips>
    </div>
</div>

<div>
    <select class="form-control" (change)="modelChange(question.tracking_key, $event.target.value)">
      <option *ngFor="#item of domainOptions" [value]="item.stored_value" [selected]='previouslySelectedStoredValue==item.stored_value'>{{item.displayed_value}}</option>
    </select>
</div>