<!-- Question text -->
<div>
    <div style="font-size: 16px;font-style: normal; font-weight: bold" class="ng-scope" [class.ncap-requested]="question.show_validation && question.validation_result===ValidationResult.requested" [class.ncap-required]="question.show_validation && question.validation_result===ValidationResult.required">
        <span class="ng-scope">
            <span *ngIf="NavigationSingleton.instanceOf().diagMode">{{question.page_id}}.{{question.sre_sort_order}} - </span> {{question.question_text}}
        </span>
        SeedDataService
    </div>
</div>

<input class='form-control ng-invalid-number-validator' type="text" name="{{question.tracking_key}}" 
placeholder="{{question.def_disp_value}}"
[ngModel]="previouslySelectedStoredValue" (ngModelChange)="modelChange(question.tracking_key, $event)" />
