<!--Loop for all questions, letting ng-switch delegate the rendering-->
<!-- xyzzy5 Code embedded here to trigger a change from pageId changing. Nice to look for a better way later -->
<div *ngFor="#curQuestionData of SeedDataSingleton.instanceOf().getQuestionsForPage(pageId)" class="container ng-scope" style="max-width: 80%;margin: auto;">
  <!--Question is {{curQuestion.question_text}}-->
  <!--<ng-switch-question question-data="curQuestionData"></ng-switch-question>oo-->
  <ng-switch-question [question]="curQuestionData"></ng-switch-question>
</div>

<BR>
<BR>
<page-level-validation [pageId]='pageId'></page-level-validation>

<navigation-buttons></navigation-buttons>