<!-- Progress Bar -->
<div *ngIf="NavigationSingleton.instanceOf().getCurrentPageNumber() > 2" class="progress ng-isolate-scope container ng-scope">
  <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="NavigationSingleton.instanceOf().getPercentageComplete()" aria-valuemin="0" aria-valuemax="100" [attr.style]="'width: ' + NavigationSingleton.instanceOf().getPercentageComplete() + '%;'">
    {{ NavigationSingleton.instanceOf().getPercentageComplete() }}% (pg {{ NavigationSingleton.instanceOf().getCurrentPageNumber() }})
  </div>
</div>

<div [ngSwitch]=PageType[pageData.page_type]>
  <span *ngSwitchWhen="'normal'">                       <question-container [pageId]="pageData.page_id"></question-container></span>
  <span *ngSwitchWhen="'consent'">                      <consent></consent></span>
  <span *ngSwitchWhen="'home'">                         <home></home></span>
  <span *ngSwitchWhen="'birthCertificate'">             <birth-certificate [pageId]="pageData.page_id"></birth-certificate></span>
  <span *ngSwitchWhen="'residentialBlockPart1'">        <residental-block [pageId]="pageData.page_id"></residental-block></span>
  <span *ngSwitchWhen="'residentialBlockPart2'">        <residental-block [pageId]="pageData.page_id"></residental-block></span>
  <span *ngSwitchWhen="'residentialBlockPart3'">        <residental-block [pageId]="pageData.page_id"></residental-block></span>
  <span *ngSwitchWhen="'reContact'">                    <re-contact [pageId]="pageData.page_id"></re-contact></span>

  <span *ngSwitchDefault>
    **Unsupported** pageData.page_type = {{pageData.page_type}}
    </span>
</div>
<!--
     = 8,
    lastPage = 9
-->
<BR>
<BR>

<BR>
<BR>
<diag *ngIf="NavigationSingleton.instanceOf().diagMode"></diag>
