<!-- Progress Bar -->
<div *ngIf="navigationSingleton.currentPageId > 2" class="progress ng-isolate-scope container ng-scope">
  <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="navigationSingleton.percentageComplete" aria-valuemin="0" aria-valuemax="100" [attr.style]="'width: ' + navigationSingleton.percentageComplete + '%;'">
    {{ navigationSingleton.percentageComplete }}%
  </div>({{ navigationSingleton.currentPageNumber }}/{{ seedDataSingleton.totalPages }}, pageId: {{ navigationSingleton.currentPageId }})
</div>
<div [ngSwitch]=PageType[pageData.page_type]>
  <span *ngSwitchWhen="'normal'">                       <question-container [pageId]="pageData.page_id"></question-container></span>
  <span *ngSwitchWhen="'consent'">                      <consent></consent></span>
  <span *ngSwitchWhen="'home'">                         <home></home></span>
  <span *ngSwitchWhen="'birthCertificate'">             <birth-certificate [pageId]="pageData.page_id"></birth-certificate></span>
  <span *ngSwitchWhen="'residentialBlockPart1'">        <residental-block  [pageId]="pageData.page_id"></residental-block></span>
  <span *ngSwitchWhen="'residentialBlockPart2'">        <residental-block  [pageId]="pageData.page_id"></residental-block></span>
  <span *ngSwitchWhen="'residentialBlockPart3'">        <residental-block  [pageId]="pageData.page_id"></residental-block></span>
  <span *ngSwitchWhen="'reContact'">                    <re-contact        [pageId]="pageData.page_id"></re-contact></span>
  <span *ngSwitchWhen="'lastPage'">                     <last-page         [pageId]="pageData.page_id"></last-page></span>

  <span *ngSwitchDefault>
    **Unsupported** pageData.page_type = {{pageData.page_type}}
    </span>
</div>

<span *ngIf="navigationSingleton.diagMode">
  <hr style="height:1px;border:none;color:#333;background-color:#333;" />
  <show-json ></show-json>
  <hr style="height:1px;border:none;color:#333;background-color:#333;" />
  <modify-user-input></modify-user-input> 
  <hr style="height:1px;border:none;color:#333;background-color:#333;" />
  <json-stringify-page-question></json-stringify-page-question> 
</span>