<!--switch question control-->
<!--{{question.answer_type}}-->

<div [ngSwitch]="question.answer_type">
  <span *ngSwitchWhen="'Home'">               <home                [question]="question"></home></span>
  <span *ngSwitchWhen="'Consent'">            <consent             [question]="question"></consent></span>
  <span *ngSwitchWhen="'RadioButtons'">       <radio-buttons       [question]="question"></radio-buttons></span>
  <span *ngSwitchWhen="'Date_MonthDayYear'">  <date-month-day-year [question]="question"></date-month-day-year></span>
</div>